/*********** reset ***********/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}.clearfix{overflow: auto;zoom: 1;}*,*:before,*:after{box-sizing: border-box;}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue',Helvetica,sans-serif;
}

/*********** header styles ***********/

.header {
  padding: 20px;
}
.header h1 {
  margin: 0 auto 20px;
  width: 70px;
  height: 0;
  padding-top: 59px;
  overflow: hidden;
  background: url("../images/hillary-logo.png");
  background-size: 100%;
}

/*********** text group styles ***********/

#events {
  width: 40%;
  height: 100%;
}
#events .state {
  display: none;
  padding: 20px;
}
#events.start .start-wrapper,
#events.event .event-wrapper,
#events.error .error-wrapper,
#events.search-error .search-error-wrapper {
  display: block;
}

/*********** map styles ***********/

#map {
  width: 60%;
  height: 100%;
}
#map {
  position: fixed;
  right: 0;
  top: 0;
  border-left: 1px solid #ccc;
}
#map-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: whitesmoke;
  padding: 5px 10px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  line-height: 2em;
}
#map-search input {
  font-size: 20px;
  margin: 0 7px 0px 0;
  height: 15px;
}
.disabled {
  opacity: .5;
  pointer-events: none;
}

.leaflet-popup-content p {
  margin: 10px 0;
}
.leaflet-popup-content .fa-map-marker,
.leaflet-popup-content .fa-calendar-o {
  margin-right: 7px;
  width: 10px;
  text-align: center;
}
.leaflet-popup-content .rsvp {
  text-align: center;
  height: 20px;
  width: 100%;
  margin-top: 15px;
}
.leaflet-popup-content .rsvp a {
  font-weight: bold;
  float: none !important;
}

/*********** searchbox styles ***********/

#searchbox {
  display: table;
}
#searchbox .search-column {
  position: relative;
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
#searchbox .search-primary {
  width: 99%;
}
#searchbox input[type="text"] {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 44px;
  width: 100%;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0 9px;
  font-size: 19px;
}
#searchbox input[type="text"]:focus {
  border-color: #12a8e0;
  outline: 0;
}
#searchbox .fa-times {
  display: none;
  font-style: normal;
  position: absolute;
  margin: 7px 0 0 -24px;
  color: #808080;
  cursor: pointer;
}
#searchbox .fa-times:hover {
  color: #000;
}
#searchbox button {
  font-size: 19px;
  padding: 0 18px;
  color: #fff;
  height: 44px;
  background: #12a8e0;
  border: 0;
  border-radius: 5px;
  margin-left: 8px;
  cursor: pointer;
}
#searchbox button:focus,
#searchbox button:hover {
  background: #0d8ebe;
  outline: 0;
}
#searchbox select {
  font-size: 18px;
}

/*********** autocomplete dropdown styles ***********/

.autocomplete {
  position: absolute;
  width: 100%;
  background: #fff;
}
.suggestion {
  border: 2px solid #ddd;
  border-bottom: 0;
  padding: 8px 0 8px 10px;
  color: #808080;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.suggestion:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.suggestion:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid #ddd;
}
.suggestion.selected {
  color: #000;
  background: #ddd;
}
.suggestion:hover {
  color: #000;
  background: #eee;
}

/*********** event search results styles ***********/

.list-event {
  padding: 10px 20px;
  margin-bottom: 10px;
}
.list-event:nth-child(odd) {
  background: whitesmoke;
}
.list-event .rsvp,
.leaflet-popup-content .rsvp a {
  float: right;
  color: rgb(192,23,38);
  border: 1px solid rgb(192,23,38);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  padding: 2px 10px;
  background: rgba(192,23,38,.1);
}
.list-event .rsvp:hover,
.leaflet-popup-content .rsvp a:hover {
  background: rgba(192,23,38,.2);
}
.list-event .location {
  font-style: italic;
}
.list-event .location .fa-map-marker,
.list-event .time .fa-calendar-o {
  margin-right: 10px;
  float: left;
  width: 15px;
  text-align: center;
}
.list-event .description {
  font-size: 14px;
  color: #555;
}
