html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Tofino,'Helvetica Neue',Helvetica,sans-serif;
}

/*********** header styles ***********/

.header {
  background: rgba(12,87,161,.2);
  padding: 10px 20px;
}
.header h1 {
  font-size: 45px;
  line-height: 68px;
  vertical-align: middle;
  margin: 0;
  font-weight: normal;
}
.hrc {
  background: url(./Highlight_h_logo_large.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 80px;
  height: 68px;
  margin-right: 20px;
  float: left;
}

/*********** text group styles ***********/

#events {
  box-sizing: border-box;
}
#events .state {
  display: none;
  padding: 20px;
}
#events.start .start-wrapper,
#events.event .event-wrapper,
#events.error .error-wrapper,
#events.search-error .search-error-wrapper {
  display: block;
}

/*********** map styles ***********/

#map, #events{
  width: 50%;
  height: 100%;
}
#map {
  position: fixed;
  right: 0;
  top: 0;
  border-left: 1px solid #ccc;
}
#map-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: whitesmoke;
  padding: 5px 10px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  line-height: 2em;
}
#map-search input {
  font-size: 20px;
  margin: 0 7px 0px 0;
  height: 15px;
}
.disabled {
  opacity: .5;
  pointer-events: none;
}

.leaflet-popup-content p {
  margin: 10px 0;
}
.leaflet-popup-content .fa-map-marker,
.leaflet-popup-content .fa-calendar-o {
  margin-right: 7px;
  width: 10px;
  text-align: center;
}
.leaflet-popup-content .rsvp {
  text-align: center;
  height: 20px;
  width: 100%;
  margin-top: 15px;
}
.leaflet-popup-content .rsvp a {
  font-weight: bold;
  float: none !important;
}

/*********** searchbox styles ***********/

#searchbox {
  background: whitesmoke;
  padding: 20px;
  margin: 20px;
}
#searchbox .search-row {
  margin-bottom: 20px;
}
#searchbox .search-row:last-child {
  margin-bottom: 0;
}
#searchbox input[type="text"] {
  width: 365px;
  font-size: 16px;
  padding: 5px 22px 4px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#searchbox .fa-times {
  display: none;
  font-style: normal;
  position: absolute;
  margin: 7px 0 0 -24px;
  color: #808080;
  cursor: pointer;
}
#searchbox .fa-times:hover {
  color: #000;
}
#searchbox button {
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #ccc;
  cursor: pointer;
  background: white;
  padding: 6px 10px 5px;
  color: #808080;
  font-weight: 100;
  margin-left: -6px;
}
#searchbox button:hover {
  border-color: #000;
  color: #000;
}
#searchbox select {
  font-size: 18px;
}
#searchbox label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/*********** autocomplete dropdown styles ***********/

.autocomplete {
  position: absolute;
  width: 400px;
  background: white;
}
.suggestion {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 2px 0 2px 10px;
  color: #808080;
  cursor: pointer;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.suggestion.selected {
  color: #000;
  background: #ddd;
}
.suggestion:hover {
  color: #000;
  background: #eee;
}

/*********** event search results styles ***********/

.list-event {
  padding: 10px 20px;
  margin-bottom: 10px;
}
.list-event:nth-child(odd) {
  background: whitesmoke;
}
.list-event .rsvp,
.leaflet-popup-content .rsvp a {
  float: right;
  color: rgb(192,23,38);
  border: 1px solid rgb(192,23,38);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  padding: 2px 10px;
  background: rgba(192,23,38,.1);
}
.list-event .rsvp:hover,
.leaflet-popup-content .rsvp a:hover {
  background: rgba(192,23,38,.2); 
}
.list-event .location {
  font-style: italic;
}
.list-event .location .fa-map-marker,
.list-event .time .fa-calendar-o {
  margin-right: 10px;
  float: left;
  width: 15px;
  text-align: center;
}
.list-event .description {
  font-size: 14px;
  color: #555;
}