/*********** reset ***********/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}.clearfix{overflow: auto;zoom: 1;}*,*:before,*:after{box-sizing: border-box;}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.4;
  color: #333;
}

.icon {
  display: inline-block;
  fill: currentColor;
}

/*********** header styles ***********/

.header {
  padding: 20px;
}
.header h1 {
  margin: 0 auto 20px;
  width: 70px;
  height: 0;
  padding-top: 59px;
  overflow: hidden;
  background: url("../images/hillary-logo.png");
  background-size: 100%;
}

/*********** text group styles ***********/

#events {
  width: 40%;
  height: 100%;
}
#events .state {
  display: none;
  padding: 20px;
  padding-bottom: 0;
}
#events.start .start-wrapper,
#events.event .event-wrapper,
#events.error .error-wrapper,
#events.search-error .search-error-wrapper {
  display: block;
}
#events h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

/*********** map styles ***********/

#map {
  width: 60%;
  height: 100%;
}
#map {
  position: fixed;
  right: 0;
  top: 0;
  border-left: 1px solid #ccc;
}
#map-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: whitesmoke;
  padding: 5px 10px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  line-height: 2em;
}
#map-search input {
  font-size: 20px;
  margin: 0 7px 0px 0;
  height: 15px;
}
.disabled {
  opacity: .5;
  pointer-events: none;
}
.leaflet-popup-content {
  margin: 20px;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 18px;
  right: 16px;
}
.leaflet-popup-content .rsvp {
  padding-left: 23px;
  margin-top: 15px;
}
.leaflet-popup-content .rsvp a {
  float: none !important;
}

/*********** searchbox styles ***********/

#searchbox {
  display: table;
}
#searchbox .search-column {
  position: relative;
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
#searchbox .search-primary {
  width: 99%;
}
#searchbox input[type="text"] {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 44px;
  width: 100%;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0 9px;
  font-size: 19px;
}
#searchbox input[type="text"]:focus {
  border-color: #12a8e0;
  outline: 0;
}
#searchbox .search-button {
  font-weight: bold;
  font-size: 19px;
  padding: 0 18px;
  color: #fff;
  height: 44px;
  background: #12a8e0;
  border: 0;
  border-radius: 5px;
  margin-left: 8px;
  cursor: pointer;
}
#searchbox .search-button:focus,
#searchbox .search-button:hover {
  background: #0d8ebe;
  outline: 0;
}
#searchbox .clear-button {
  display: none;
  position: absolute;
  cursor: pointer;
  color: #fff;
  background: #12a8e0;
  border: 0;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  height: 24px;
  width: 24px;
  padding-top: 4px;\
}
#searchbox .clear-button:hover,
#searchbox .clear-button:focus {
  background: #0d8ebe;
  outline: 0;
}

/*********** autocomplete dropdown styles ***********/

.autocomplete {
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 10;
}
.suggestion {
  border: 2px solid #ddd;
  border-bottom: 0;
  padding: 8px 0 8px 10px;
  color: #808080;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.suggestion:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.suggestion:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid #ddd;
}
.suggestion.selected {
  color: #000;
  background: #ddd;
}
.suggestion:hover {
  color: #000;
  background: #eee;
}

/*********** event search results styles ***********/

.event-list {
  margin-left: -20px;
  margin-right: -20px;
}
.list-event {
  padding: 20px;
  border-top: 2px solid #eee;
}
.list-event.selected {
  border: 2px dotted #254da3;
}
.list-event:nth-child(odd) {
  background: #f7f7f7;
}
.list-event h3 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 12px;
}
.list-event h3, .list-event .location {
  cursor: pointer;
}
.list-event .rsvp,
.leaflet-popup-content .rsvp a {
  float: right;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 10px;
  background: #12a8e0;
  border-radius: 4px;
}
.list-event .rsvp:hover,
.leaflet-popup-content .rsvp a:hover {
  background: #0d8eBe;
}
.location,
.time {
  padding-left: 23px;
  margin-bottom: 8px;
}
.list-event .icon,
.leaflet-popup-content .icon {
  float: left;
}

.list-event .description {
  font-size: 14px;
  color: #555;
}

.icon-calendar {
  margin-left: -23px;
  margin-top: 2px;
}
.icon-location {
  margin-left: -21px;
  margin-top: 3px;
}
.leaflet-popup-content .icon-calendar,
.leaflet-popup-content .icon-location {
  margin-top: 0;
}
.description {
  margin-top: 12px;
  padding-left: 23px;
  font-size: 12px;
  color: #717171;
  line-height: 1.8;
}
.leaflet-popup-content h2 {
  max-width: 275px;
  font-weight: bold;
  font-size: 18px;
}

.marker-highlight, .marker-highlight.marker-cluster-small {
  background-color: #254da3;
  border-radius: 20px;
}

/*********** date slider styles ***********/
.ui-rangeSlider-label {
  background-image: none;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 12px;
}
.ui-rangeSlider .ui-ruler-scale {
  position:absolute;
  top:-9px;
  left:0;
  bottom:0;
  right:0;
}

.ui-rangeSlider .ui-ruler-tick {
  float: left;
  margin-top: 5px;
}

.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-inner {
  color: #666;
  font-size: 12px;
  margin-top:1px;
  border-left: 1px solid white;
  height:29px;
  padding-left:2px;
  position:relative;
}

.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-label {
  position:absolute;
  bottom: 6px;
}

.ui-rangeSlider .ui-ruler-scale1 .ui-ruler-tick-inner {
  border-left:1px solid white;
  margin-top: 25px;
  height: 5px;
}

.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-inner .ui-ruler-tick-label {
  margin-left: 40%;
}

.ui-rangeSlider .ui-rangeSlider-bar{
  background: rgba(12,87,161,.2);
}

.ui-rangeSlider{
  height:32px;
}

.ui-rangeSlider .ui-rangeSlider-innerBar{
  height:26px;
}

.ui-rangeSlider .ui-rangeSlider-bar{
  height:25px;
  margin:3px 0;
}

.ui-rangeSlider-container{
  height:32px;
}

.ui-rangeSlider .ui-rangeSlider-handle {
  margin-top: 3px;
  width:10px;
  height:26px;
  background: transparent;
  cursor:col-resize;
}

.ui-rangeSlider-leftHandle {
  border-left: 3px solid #000;
}

.ui-rangeSlider-rightHandle {
  border-right: 3px solid #000;
}

#mobile {
  display: none;
}

/*********** mobile ***********/
@media all and (max-width: 720px) {
  #mobile {
    display: block;
  }
  .search-mobile {
    position: relative;
    background: #fff url("../images/hillary-logo.png") no-repeat scroll 2% 50% / 16px 16px;
    box-sizing: border-box;
    width: 75%;
    height: 52px;
    border-bottom: 1px solid transparent;
    padding: 12px 12px 12px 30px;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  }
  .search-mobile input {
    border: 0;
    display: inline-block;
    font-size: 14px;
    width: 80%;
    vertical-align: middle;
  }
  .search-mobile .icon {
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: bottom;
    color: #333;
    position: absolute;
    right: 20px;
  }

  .search-mobile .icon-x {
    display: none;
  }
  .search-mobile .icon-search.active {
    color: #254da3;
  }
  .search-mobile .search-box {
    display: block;
    margin: 0;
    vertical-align: baseline;
    background: transparent;
  }
  .autocomplete {
    margin-top: 18px;
    margin-left: -30px;
  }
  #events .header, #events .state {
    display: none;
  }
  #events {
    display: none; /* for now FIXME */
  }
  #map {
    width: 100%;
  }
  #map-search {
    display: none;
  }
  .leaflet-popup-pane {
    display: none;
  }

  #detail {
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: none;
  }

  #detail .event-list {
    margin: 0;
  }

  .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    overflow-y: auto;
  }
  .list-event .rsvp {
    font-size: 22px;
    margin-left: 12px;
  }
  .list-event h3, .list-event .location {
    cursor: default;
  }
}
