html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
#map, #events{
  width: 50%;
  height: 100%;
}
#map {
  position: fixed;
  right: 0;
  top: 0;
  border-right: 1px solid black;
}
#map-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: white;
  padding: 5px 10px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 14px;
  line-height: 2em;
}
.disabled {
  opacity: .5;
}
h2 {
  text-align: center;
}
#searchbox {
  background: whitesmoke;
  padding: 20px;
}
#searchbox .search-row {
  margin-bottom: 20px;
}
#searchbox .search-row:last-child {
  margin-bottom: 0;
}
#searchbox input[type="text"] {
  width: 70%;
  font-size: 16px;
  padding: 5px 5px 4px;
}
#searchbox .fa-times {
  display: none;
  font-style: normal;
  position: absolute;
  margin: 7px 0 0 -21px;
  color: #808080;
  cursor: pointer;
}
#searchbox .fa-times:hover {
  color: #000;
}
#searchbox button {
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #ccc;
  cursor: pointer;
  background: white;
  padding: 5px 10px;
  color: #808080;
  font-weight: 100;
}
#searchbox button:hover {
  border-color: #000;
  color: #000;
}
#searchbox select {
  font-size: 18px;
}
#searchbox label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.list-event {
  padding: 10px 20px;
  margin: 10px;
}
.list-event:nth-child(odd) {
  background: whitesmoke;
}
.list-event .location {
  font-style: italic;
}
.list-event .description {
  font-size: 14px;
}
#events {
  padding: 20px;
  box-sizing: border-box;
}
#events .state {
  display: none;
}
#events.start .start-wrapper,
#events.event .event-wrapper,
#events.error .error-wrapper {
  display: block;
}
.autocomplete {
  position: absolute;
  width: 27.5%;
  background: white;
}
.suggestion {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 1px 0 1px 15px;
  color: #808080;
  cursor: pointer;
  font-size: 14px;
}
.suggestion.selected {
  color: #000;
  background: #ddd;
}
.suggestion:hover {
  color: #000;
  background: #eee;
}